@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  margin: 0 10px;
}

.payment {
  margin: auto;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

h1 {
  text-align: center;
}

.payment .pay {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #0d3c61;
  text-align: center;
  font-size: 25px;
}
h3 {
  padding: 2px;
  text-align: center;
}

p {
  text-align: center;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 10px 0px 10px 20px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 10px;
}

.icon-relative {
  position: relative;
}

::placeholder {
  text-align: center;
}

.btn {
  margin-top: 10px;
  background: #2196f3;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #2196f3;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 58px;
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}

#content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.column {
  width: 600px;
  padding: 30px;
  margin-left: 30px;
}

#columne {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#featured {
  width: 600px;
  height: 500px;
  object-fit: cover;
  cursor: pointer;
}
.last {
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
}
.thumbnail {
  object-fit: cover;
  max-width: 90px;
  max-height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
}

.thumbnail:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

#slide-wrapper {
  width: 700px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

#slider {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#slider::-webkit-scrollbar {
  width: 8px;
}

#slider::hover {
  background-color: #18b5ce;
}
.logos {
  width: 100%;
  height: 70px;
  font-size: 30px;
}
.image {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 10px 20px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 15px 20px;
}
.next {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#password2 {
  width: 220px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
